<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.xml.serialization>
		<dateTimeSerialization mode="Local" />
	</system.xml.serialization>
	<appSettings>
		<add key="Installation.InstanceName" value="DEFAULT" />
		<add key="OutSystems.HubEdition.UnifiedEspaceKey" value="" />
		<add key="OutSystems.RESTService.Assemblies" value="Address_CS" />
		<add key="OutSystems.HubEdition.EspaceCompilationDate" value="636397060431730000" />
		<add key="OutSystems.HubEdition.EspaceHMAC" value="9i2T5o2PzbP/y7z6NGyZg3vJ7XE=" />
		<add key="OutSystems.HubEdition.EspaceVersionID" value="3208" />
		<add key="OutSystems.HubEdition.EspaceCompilationHash" value="QLUAtbxtGSzh7ubLlq8R_g" />
		<add key="OutSystems.HubEdition.CacheInvalidationSuffix.070ed75c-5567-4cfd-abec-7c525b0af273" value="?3208" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<trust level="Full" originUrl="" />
		<compilation defaultLanguage="c#" debug="true" batch="false" optimizeCompilations="true" />
		<customErrors mode="RemoteOnly" defaultRedirect="/customHandlers/internalerror.aspx?">
			<error statusCode="404" redirect="/customHandlers/notfound.aspx?" />
		</customErrors>
		<authentication mode="None" />
		<identity impersonate="false" />
		<sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="OutSystemsSessionProvider">
			<providers>
				<add name="OutSystemsSessionProvider" type="OutSystems.HubEdition.RuntimePlatform.SessionState.SqlSessionStateStore" />
			</providers>
		</sessionState>
		<httpRuntime enableVersionHeader="false" useFullyQualifiedRedirectUrl="true" targetFramework="4.6.1" requestValidationMode="2.0" />
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages enableSessionState="true" validateRequest="false" enableEventValidation="false" />
		<httpModules>
			<add type="OutSystems.HubEdition.RuntimePlatform.UnhandledExceptionModule, OutSystems.HubEdition.RuntimePlatform" name="UnhandledExceptionModule" />
		</httpModules>
		<xhtmlConformance mode="Transitional" />
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="_Default.aspx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<modules>
			<add name="UnhandledExceptionModule" type="OutSystems.HubEdition.RuntimePlatform.UnhandledExceptionModule, OutSystems.HubEdition.RuntimePlatform" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>